
<div class="container">
    <div>
        <h1>Employee Details</h1>
        <hr>
        <br>
        <div>
            <label>First Name</label>
            &nbsp;&nbsp;
            <label> {{ employee?.firstName}}</label>
        </div>
        <div>
            <label>Last Name</label>
            &nbsp;&nbsp;
            <label> {{ employee?.lastName}}</label>
        </div>

        <div>
            <label>Email</label>
            &nbsp;&nbsp;
            <label> {{ employee?.email}}</label>
        </div>
        <div>
            <label>Profile URL Image</label>
            &nbsp;&nbsp;
            <label> {{ employee?.profileURL}}</label>
            <!-- <img src=`${employee?.profileUrl}` size="100" /> -->
        </div>
    </div>
    <br><br>
    <div>
        <button class="btn btn-success" (click)="backToList()">Employees</button>
    </div>
</div>
