<div class="container">
    <div class="form-container">
        <h1>File Upload from Angular</h1>
        <hr>
        <br>

        <form [formGroup]="myForm" (ngSubmit)="submit()">
            <div class="form-group">
                <div>
                    <label for="file">File</label>
                    <input formControlName="file" id="file" type="file" class="form-control"
                        (change)="onFileSelected($event)">
                </div>
                <div>
                    <label for="file">File</label>
                    <textarea formControlName="comments" name="comments" cols="50" rows="4"></textarea>
                </div>
            </div>
            <div *ngIf="f['file'].invalid && f['file'].touched" class="alert alert-danger">
                <div *ngIf="f['file'].errors && f['file'].errors['required']">
                    File is required
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
        </form>
    </div>
</div>